.terraform
site.retry
terraform/secrets/
terraform.tfstate
terraform.tfstate.backup
cleanenv.sh
*.pem
*.csr
*.kubeconfig
ansible/inventory/
ansible/roles/workstation/templates/encryption-config.yaml
.terraform.tfstate.lock.info
